.containerCard {
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 5%;
}

.imgArma {
    width: 100%;
    height: 200px;
}

.cardArma {
    width: 700px;
    height: 250px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(155, 50, 50); */
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.cardArma:hover {
    transform: scale(1.1);
}


.imgArma {
    padding-bottom: 16px;
}

.nameArma {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(34, 34, 34, 0.25);
}   

.armas-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    font-weight: 500;
    font-size: 1.5rem;
}