.maps-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    font-weight: 500;
    font-size: 1.5rem;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-img img {
    width: 45%;
}
