
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
}

main {
    background-image: url(../video/agent-background-generic.gif);
    background-repeat: no-repeat;
    background-size: cover; 
}

.valorant-icon img {
    width: 350px;
    height: 250px;
}

.menu-container {
    height: 100%;
    background-color: rgb(155, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: 'Vina Sans', cursive;
    gap: 150px;
    text-transform: capitalize;
}

.menu-container a {
    text-decoration: none;
    color: #000;
}

.fundo img {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.container {
    width: 100%;
    color: #fff;
}

